

.morning_key{
    height: 30px;
    width: 30px;
    background:#99CCCC ;
}

.afternoon_key{
    height: 30px;
    width: 30px;
    background:#f9eacc;
}
.not_available{
    height: 30px;
    width: 30px;
    background:#f0f0f0;
}

.big-checkbox{
    height: 20px;
    width: 20px;
}
.navbar-brand{
    font-family: 'Lobster',cursive;
}