

.morning_key{
    height: 30px;
    width: 30px;
    background:#99CCCC ;
}

.afternoon_key{
    height: 30px;
    width: 30px;
    background:#f9eacc;
}
.not_available{
    height: 30px;
    width: 30px;
    background:#f0f0f0;
}